.loader-page {
    position: fixed;
    z-index: 25000;
    background-image:linear-gradient(180deg,#ffffff 10%,#f4f5f8 150%);
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* transition:all .3s ease; */
    transition: all .7s;
}
.loader-page::before {
    content: "";
    position: absolute;
    border: 2px solid rgb(0, 81, 255);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-sizing: border-box;
    border-left: 2px solid rgb(92, 93, 94);
    border-top: 2px solid rgb(137, 136, 138);
    animation: rotarload 1s linear infinite;
    transform: rotate(0deg);
}
@keyframes rotarload {
    0%   {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}
.loader-page::after {
    content: "";
    position: absolute;
    border: 2px solid rgb(144, 146, 153);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-sizing: border-box;
    border-left: 2px solid rgba(161, 159, 159, 0);
    border-top: 2px solid rgba(255, 255, 255, 0);
    animation: rotarload 1s ease-out infinite;
    transform: rotate(0deg);
}